

<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">
    <title>教务处管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/login.css">


</head>
<body>
<div style="width:728px;height:90px;margin:0 auto;">

</div>

<div class="page-container">
    <h1>修改个人信息</h1>
    <form action="change.php" method="post">
        <input type="text" name="age" class="username" placeholder="age">
        <input type="text" name="name" class="username" placeholder="name">
        <input type="text" name="email" class="username" placeholder="email">
        <input type="text" name="phone" class="username" placeholder="phone">
        <button type="submit">修改信息</button>
        <div class="error"><span>+</span></div>
    </form>
    <div class="connect">
        <p>
            <a class="facebook" href=""></a>
            <a class="twitter" href=""></a>
        </p>
    </div>
</div>

<script type="text/javascript" src="../lib/js/jquery.min.js" ></script>
<script type="text/javascript" src="../lib/js/supersized.3.2.7.min.js"></script>


<script type="text/javascript" src="../js/login.js" ></script>
</body>

</html>

